<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
<meta charset="UTF-8">
<title>ML API</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='css/script.js') }}"></script>
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body >
  <dialog > 
      <div id="dialog2"></div>
  </dialog>
  <div class="text">
      <div>Similarity</div>
      <div style="color:#49F80A; margin-top: 20px; ">Analyzer</div>
  </div>
  <div class="login">
      <textarea id="textarea"  type="text" name="experience" placeholder="Put your article here." required="required" ></textarea>
      <button onclick="myFunction()" class="button">Analyze</button> 
      <div id="result"></div>
  </div>

</body>
</html>


